<section class="xcc tab messenger {{tabs.messenger.cssClass}}" data-tab="{{tabs.messenger.id}}"
    data-group="{{tabs.messenger.group}}">
    <input type="hidden" id="system.details.sheetClass" name="system.details.sheetClass" value="Messenger"
        data-dtype="String" />
    <div class="grid-container">
        <div class="grid-col-span-12 dark-border reminder-block">
            <div class="box-title">{{localize "XCC.ClassProperties"}}{{#dccPackExists
                "dcc-core-book.dcc-core-journals"}}<div class="link-floater">{{{system.class.classLink}}}</div>
                {{/dccPackExists}}</div>
            <div class="grid-tpl-two grid-row-gap-8 p-5">

                <!-- Holy Act -->
                <div class="grid-tpl-max-25" data-skill="holyAct">
                    <label class="skill-check rollable" data-action="rollHolyAct" data-drag="false">
                        {{localize "XCC.Messenger.HolyAct"}}
                    </label>
                    <input type="text" value="{{getMessengerHolyActBonus this false}}" data-dtype="String"
                        disabled="" />
                </div>

                <!-- Disapproval Range -->
                <div class="grid-tpl-max-25 grid-col-gap-5">
                    <label class="disapproval-range" for="system.class.disapproval"
                        title="{{localize 'DCC.DisapprovalRangeHint'}}" data-drag="false">
                        {{localize "DCC.DisapprovalRange"}}
                    </label>
                    <select class="number" name="system.class.disapproval" id="system.class.disapproval">
                        {{selectOptions config.disapprovalRanges selected=system.class.disapproval localize=true}}
                    </select>
                </div>

                <!-- Scourge  -->
                <div class="grid-tpl-max-25" data-skill="system.class.scourge">
                    <label class="skill-check" for="system.class.scourge" data-drag="false">
                        {{localize "XCC.Messenger.ScourgeDamage"}}
                    </label>
                    <input type="text" id="system.class.scourge" name="system.class.scourge"
                        value="{{system.class.scourge}}" data-dtype="String" />
                </div>

                <!-- Disapproval Table -->
                <div class="grid-tpl-max-auto-tight grid-col-gap-5">
                    <label class="disapproval-table rollable" for="system.class.disapprovalTable"
                        title="{{localize 'DCC.DisapprovalTableHint'}}" data-action="rollDisapproval" data-drag="true"
                        data-drag-action="disapprovalTable">
                        {{localize "DCC.DisapprovalTable"}}
                    </label>
                    <select id="system.class.disapprovalTable" name="system.class.disapprovalTable">
                        {{selectOptions config.disapprovalTables selected=system.class.disapprovalTable
                        localize=true
                        labelAttr="name"
                        valueAttr="path"}}
                    </select>
                </div>

                <!-- Favored Weapon -->
                <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="system.class.favoredWeapon">
                    <label class="skill-check" for="system.class.favoredWeapon" data-drag="false">
                        {{localize "XCC.Messenger.FavoredWeapon"}}
                    </label>
                    <input type="text" id="system.class.favoredWeapon" name="system.class.favoredWeapon"
                        value="{{system.class.favoredWeapon}}" data-dtype="String" />
                </div>

                <!-- Deity -->
                <div class="grid-tpl-max-auto grid-col-gap-5">
                    <label for="system.class.deity" title="{{localize 'DCC.DeityHint'}}">{{localize
                        "DCC.Deity"}}</label>
                    <input class="full-width" type="text" id="system.class.deity" name="system.class.deity"
                        value="{{system.class.deity}}" data-dtype="String" />
                </div>
            </div>
        </div>

        <div class="grid-col-span-12 dark-border">
            <!-- Holy Acts -->
            <div class="row-separator"></div>
            <div class="box-title">{{localize "XCC.Messenger.HolyActs"}}</div>
            <ol class="weapon-list jammer box-border" style="margin-bottom: 0;">
                <li class="grid-col-span-6 weapon-list-header">
                    <div></div>
                    <div title="{{localize 'DCC.Roll'}}"></div>
                    <div>{{localize "DCC.Name"}}</div>
                    <div>{{localize "DCC.Bonus"}}</div>
                    <div>{{localize "DCC.Notes"}}</div>
                </li>
                <li class="grid-col-span-6 weapon grid-col-gap-5">
                    <img class="icon-filter" src="modules/xcc-system/styles/images/game-icons-net/hand-heal.svg"
                        title="{{localize 'XCC.Messenger.LayOnHands'}}" alt="{{localize 'XCC.Messenger.LayOnHands'}}"
                        width="22" height="22">
                    <div class="attack-buttons">
                        <div class="rollable weapon-button icon-filter" data-action="rollLayOnHands" data-drag="false"
                            title="Roll" draggable="false">&nbsp;</div>
                    </div>
                    <input class="weapon-name" type="text" value="{{localize 'XCC.Messenger.LayOnHands'}}" readonly="">
                    <input class="disabled" type="text" value="{{getMessengerHolyActBonus this true}}" readonly="">
                    <input class="weapon-notes disabled" type="text"
                        value="{{localize 'XCC.Messenger.LayOnHandsNotes'}}" readonly="">
                </li>
                <li class="grid-col-span-6 weapon grid-col-gap-5">
                    <img class="icon-filter" src="modules/xcc-system/styles/images/game-icons-net/stoned-skull.svg"
                        title="{{localize 'XCC.Messenger.TurnUnholy'}}" alt="{{localize 'XCC.Messenger.TurnUnholy'}}"
                        width="22" height="22">
                    <div class="attack-buttons">
                        <div class="rollable weapon-button icon-filter" data-action="rollTurnUnholy" data-drag="false"
                            title="Roll" draggable="false">&nbsp;</div>
                    </div>
                    <input class="weapon-name" type="text" value="{{localize 'XCC.Messenger.TurnUnholy'}}" readonly="">
                    <input class="disabled" type="text" value="{{getMessengerHolyActBonus this false}}" readonly="">
                    <input class="weapon-notes disabled" type="text"
                        value="{{localize 'XCC.Messenger.TurnUnholyNotes'}}" readonly="">
                </li>
                <li class="grid-col-span-6 weapon grid-col-gap-5">
                    <img class="icon-filter"
                        src="modules/xcc-system/styles/images/game-icons-net/embrassed-energy.svg"
                        title="{{localize 'XCC.Messenger.Bless'}}" alt="{{localize 'XCC.Messenger.Bless'}}" width="22"
                        height="22">
                    <div class="attack-buttons">
                        <div class="rollable weapon-button icon-filter" data-action="rollBless" data-drag="false"
                            title="Roll" draggable="false">&nbsp;</div>
                    </div>
                    <input class="weapon-name" type="text" value="{{localize 'XCC.Messenger.Bless'}}" readonly="">
                    <input class="disabled" type="text" value="{{getMessengerHolyActBonus this false}}" readonly="">
                    <input class="weapon-notes disabled" type="text" value="{{localize 'XCC.Messenger.BlessNotes'}}"
                        readonly="">
                </li>
                <li class="grid-col-span-6 weapon grid-col-gap-5">
                    <img class="icon-filter" src="modules/xcc-system/styles/images/game-icons-net/winged-sword.svg"
                        title="{{localize 'XCC.Messenger.SummonWeapon'}}"
                        alt="{{localize 'XCC.Messenger.SummonWeapon'}}" width="22" height="22">
                    <div class="attack-buttons">
                        <div class="rollable weapon-button icon-filter" data-action="rollSummonWeapon" data-drag="false"
                            title="Roll" draggable="false">&nbsp;</div>
                    </div>
                    <input class="weapon-name" type="text" value="{{localize 'XCC.Messenger.SummonWeapon'}}"
                        readonly="">
                    <input class="disabled" type="text" value="{{getMessengerHolyActBonus this false}}" readonly="">
                    <input class="weapon-notes disabled" type="text"
                        value="{{localize 'XCC.Messenger.SummonWeaponNotes'}}" readonly="">
                </li>
                <li class="grid-col-span-6 weapon grid-col-gap-5">
                    <img class="icon-filter" src="modules/xcc-system/styles/images/game-icons-net/hand-of-god.svg"
                        title="{{localize 'XCC.Messenger.DivineAid'}}" alt="{{localize 'XCC.Messenger.DivineAid'}}"
                        width="22" height="22">
                    <div class="attack-buttons">
                        <div class="rollable weapon-button icon-filter" data-action="rollDivineAid" data-drag="false"
                            title="Roll" draggable="false">&nbsp;</div>
                    </div>
                    <input class="weapon-name" type="text" value="{{localize 'XCC.Messenger.DivineAid'}}" readonly="">
                    <input class="disabled" type="text" value="{{getMessengerHolyActBonus this false}}" readonly="">
                    <input class="weapon-notes disabled" type="text" value="{{localize 'XCC.Messenger.DivineAidNotes'}}"
                        readonly="">
                </li>
            </ol>
            <div class="row-separator"></div>
            <!-- Unholy Creatures Section -->
            <div class="box-title">{{localize "XCC.Messenger.UnholyCreatures"}}</div>
            <div class="reminder-block box-border">
                <ul class="feature-list">
                    {{#if (eq system.details.alignment "l")}}
                    <li>{{localize "XCC.Messenger.UnholyLawful"}}</li>
                    {{else if (eq system.details.alignment "n")}}
                    <li>{{localize "XCC.Messenger.UnholyNeutral"}}</li>
                    {{else if (eq system.details.alignment "c")}}
                    <li>{{localize "XCC.Messenger.UnholyChaotic"}}</li>
                    {{else}}
                    <li>{{localize "XCC.Messenger.NoAlignment"}}</li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
    {{> modules/xcc-system/templates/actor-partial-common.html }}
</section>