<div class="row-separator"></div>
<label class="box-title">{{localize "XCC.BenefitsTitle"}}</label>
<div class="reminder-block dark-border">
    <ul>
        {{#each (getLocalizedArray (localize (getLocalizationKey actor "Benefits"))) as |benefit|}}
        <li>{{benefit}}</li>
        {{/each}}
    </ul>
</div>
<div class="row-separator"></div>
<label class="box-title">{{localize "XCC.RestrictionsTitle"}}</label>
<div class="reminder-block dark-border">
    <ul>
        {{#each (getLocalizedArray (localize (getLocalizationKey actor "Restrictions"))) as |restriction|}}
        <li>{{restriction}}</li>
        {{/each}}
    </ul>
</div>
<div class="row-separator"></div>
<label class="box-title">{{localize "XCC.MojoTitle"}}</label>
<div class="reminder-block dark-border">
    <ul>
        {{#each (getLocalizedArray (localize (getLocalizationKey actor "Mojo"))) as |mojo|}}
        <li>{{mojo}}</li>
        {{/each}}
    </ul>
</div>
<div class="row-separator"></div>
<label class="box-title">{{localize "XCC.WeaponTrainingTitle"}}</label>
<div class="reminder-block dark-border">
    <ul>
        {{#each (getLocalizedArray (localize (getLocalizationKey actor "WeaponTraining"))) as |training|}}
        <li>{{training}}</li>
        {{/each}}
    </ul>
</div>