<section class="xcc tab half-orc {{tabs.half-orc.cssClass}}" data-tab="{{tabs.half-orc.id}}"
    data-group="{{tabs.half-orc.group}}">
    <div class="grid-col-span-12 dark-border reminder-block">
        <div class="box-title">{{localize "XCC.ClassProperties"}}{{#dccPackExists
            "dcc-core-book.dcc-core-journals"}}<div class="link-floater">{{{system.class.classLink}}}</div>
            {{/dccPackExists}}</div>
        <div class="grid-tpl-two grid-row-gap-8 p-5">
            <div class="grid-tpl-max-25" data-skill="attackBonus">
                <label>{{localize "DCC.DeedDie"}}</label>
                <input type="text" value="{{system.details.attackBonus}}" data-dtype="String" disabled="" />
            </div>
            <div class="grid-tpl-max-25" data-skill="wildCritRange">
                <label class="skill-check" for="system.details.wildCritRange" data-action="rollSkillCheck"
                    data-drag="true" data-drag-action="skill">
                    {{localize "DCC.system.details.wildCritRange"}}
                </label>
                <input type="text" id="system.details.wildCritRange" name="system.details.wildCritRange"
                    value="{{system.details.wildCritRange}}" data-dtype="String" />
            </div>
        </div>
    </div>
    {{> modules/xcrawl-classics/templates/actor-partial-common.html }}
</section>