{{!-- Class Tab --}}
<section class="xcc tab {{tabs.sp-halfling-rogue.id}} {{tabs.sp-halfling-rogue.cssClass}}"
    data-tab="{{tabs.sp-halfling-rogue.id}}" data-group="{{tabs.sp-halfling-rogue.group}}" id="sp-halfling-rogue">
    <div class="grid-container">
        <div class="grid-col-span-12 box-border reminder-block">
            <div class="box-title">{{localize "XCC.ClassProperties"}}{{#dccPackExists
                "xcc-core-book.xcc-core-text"}}<div class="link-floater">{{{system.class.classLink}}}</div>
                {{/dccPackExists}}</div>
            <div class="grid-tpl-two grid-row-gap-8 p-5">
                <div class="grid-tpl-max-25 grid-col-gap-5">
                    <label class="luck-die rollable" for="system.class.luckDie"
                        title="{{localize 'DCC.ThiefSkillHint'}}" data-action="rollLuckDie" data-drag="true"
                        data-drag-action="luckDie">
                        {{localize "DCC.LuckDie"}}
                    </label>
                    <input type="text" id="system.class.luckDie" name="system.class.luckDie"
                        value="{{system.class.luckDie}}" data-dtype="String" />
                </div>
                <div class="grid-tpl-max-25 grid-col-gap-5">
                    <label data-drag="false">
                        {{localize "XCC.Specialist.DailyLuck"}}
                    </label>
                    <input type="text" value="{{system.details.level.value}}" disabled="true" data-dtype="String" />
                </div>
            </div>
        </div>
        <div class="grid-col-span-12 dark-border sp-skills">
            <div class="row-separator"></div>
            <div class="box-title">{{localize "XCC.Specialist.Skills"}}</div>
            <div class="box-border grid-tpl-two grid-row-gap-8 p-5">
                <div class="grid-tpl-max-auto grid-col-gap-5">
                    <label class="skill-check" for="system.class.backstab"
                        title="{{localize 'DCC.ThiefBackstabSkillHint'}}">
                        {{localize "DCC.Backstab"}}
                    </label>
                    <input type="text" id="system.class.backstab" name="system.class.backstab"
                        value="{{system.class.backstab}}" data-dtype="String" />
                </div>
                <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="pickLock">
                    <label class="skill-check rollable" for="system.skills.pickLock.value"
                        title="{{localize 'DCC.ThiefSkillHint'}}" data-action="rollSkillCheck" data-drag="true"
                        data-drag-action="skill">
                        {{localize "DCC.PickLock"}}
                    </label>
                    <input type="text" id="system.skills.pickLock.value" name="system.skills.pickLock.value"
                        value="{{system.skills.pickLock.value}}" data-dtype="String" />
                </div>
                <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="sneakSilently">
                    <label class="skill-check rollable" for="system.skills.sneakSilently.value"
                        title="{{localize 'DCC.ThiefSkillHint'}}" data-action="rollSkillCheck" data-drag="true"
                        data-drag-action="skill">
                        {{localize "DCC.SneakSilently"}}
                    </label>
                    <input type="text" id="system.skills.sneakSilently.value" name="system.skills.sneakSilently.value"
                        value="{{system.skills.sneakSilently.value}}" data-dtype="String" />
                </div>
                <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="findTrap">
                    <label class="skill-check rollable" for="system.skills.findTrap.value"
                        title="{{localize 'DCC.ThiefSkillHint'}}" data-action="rollSkillCheck" data-drag="true"
                        data-drag-action="skill">
                        {{localize "DCC.FindTrap"}}
                    </label>
                    <input type="text" id="system.skills.findTrap.value" name="system.skills.findTrap.value"
                        value="{{system.skills.findTrap.value}}" data-dtype="String" />
                </div>
                <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="hideInShadows">
                    <label class="skill-check rollable" for="system.skills.hideInShadows.value"
                        title="{{localize 'DCC.ThiefSkillHint'}}" data-action="rollSkillCheck" data-drag="true"
                        data-drag-action="skill">
                        {{localize "DCC.HideInShadows"}}
                    </label>
                    <input type="text" id="system.skills.hideInShadows.value" name="system.skills.hideInShadows.value"
                        value="{{system.skills.hideInShadows.value}}" data-dtype="String" />
                </div>
                <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="disableTrap">
                    <label class="skill-check rollable" for="system.skills.disableTrap.value"
                        title="{{localize 'DCC.ThiefSkillHint'}}" data-action="rollSkillCheck" data-drag="true"
                        data-drag-action="skill">
                        {{localize "DCC.DisableTrap"}}
                    </label>
                    <input type="text" id="system.skills.disableTrap.value" name="system.skills.disableTrap.value"
                        value="{{system.skills.disableTrap.value}}" data-dtype="String" />
                </div>
                <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="pickPocket">
                    <label class="skill-check rollable" for="system.skills.pickPocket.value"
                        title="{{localize 'DCC.ThiefSkillHint'}}" data-action="rollSkillCheck" data-drag="true"
                        data-drag-action="skill">
                        {{localize "DCC.PickPocket"}}
                    </label>
                    <input type="text" id="system.skills.pickPocket.value" name="system.skills.pickPocket.value"
                        value="{{system.skills.pickPocket.value}}" data-dtype="String" />
                </div>
                <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="readLanguages">
                    <label class="skill-check rollable" for="system.skills.readLanguages.value"
                        title="{{localize 'DCC.ThiefSkillHint'}}" data-action="rollSkillCheck" data-drag="true"
                        data-drag-action="skill">
                        {{localize "DCC.ReadLanguages"}}
                    </label>
                    <input type="text" id="system.skills.readLanguages.value" name="system.skills.readLanguages.value"
                        value="{{system.skills.readLanguages.value}}" data-dtype="String" />
                </div>
                <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="climbSheerSurfaces">
                    <label class="skill-check rollable" for="system.skills.climbSheerSurfaces.value"
                        title="{{localize 'DCC.ThiefSkillHint'}}" data-action="rollSkillCheck" data-drag="true"
                        data-drag-action="skill">
                        {{localize "DCC.ClimbSheerSurfaces"}}
                    </label>
                    <input type="text" id="system.skills.climbSheerSurfaces.value"
                        name="system.skills.climbSheerSurfaces.value" value="{{system.skills.climbSheerSurfaces.value}}"
                        data-dtype="String" />
                </div>
                <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="castSpellFromScroll">
                    <label class="skill-check rollable" for="system.skills.castSpellFromScroll.die"
                        title="{{localize 'DCC.ThiefSkillHint'}}" data-action="rollSkillCheck" data-drag="true"
                        data-drag-action="skill">
                        {{localize "DCC.CastSpellFromScroll"}}
                    </label>
                    <input type="text" id="system.skills.castSpellFromScroll.die"
                        name="system.skills.castSpellFromScroll.die" value="{{system.skills.castSpellFromScroll.die}}"
                        data-dtype="String" />
                </div>
            </div>
        </div>
    </div>
    {{> modules/xcc/templates/actor-partial-common.html }}
</section>