{{!-- Class Tab --}}
<section class="xcc tab {{tabs.sp-acrobat.id}} {{tabs.sp-acrobat.cssClass}}" data-tab="{{tabs.sp-acrobat.id}}"
  data-group="{{tabs.sp-acrobat.group}}" id="sp-acrobat">
  <div class="grid-container">
    <div class="grid-col-span-12 box-border reminder-block">
      <div class="box-title">{{localize "XCC.ClassProperties"}}{{#dccPackExists
        "xcc-core-book.xcc-core-text"}}<div class="link-floater">{{{system.class.classLink}}}</div>
        {{/dccPackExists}}</div>
      <div class="grid-tpl-two grid-row-gap-8 p-5">
        <div class="grid-tpl-max-25 grid-col-gap-5">
          <label class="luck-die rollable" for="system.class.luckDie" title="{{localize 'DCC.ThiefSkillHint'}}"
            data-action="rollLuckDie" data-drag="true" data-drag-action="luckDie">
            {{localize "DCC.LuckDie"}}
          </label>
          <input type="text" id="system.class.luckDie" name="system.class.luckDie" value="{{system.class.luckDie}}"
            data-dtype="String" />
        </div>
        <div class="grid-tpl-max-25 grid-col-gap-5">
          <label data-drag="false">
            {{localize "XCC.Specialist.DailyLuck"}}
          </label>
          <input type="text" value="{{system.details.level.value}}" disabled="true" data-dtype="String" />
        </div>
      </div>
    </div>
    <div class="grid-col-span-12 dark-border sp-skills">
      <div class="row-separator"></div>
      <div class="box-title">{{localize "XCC.Specialist.Skills"}}</div>
      <div class="box-border grid-tpl-two grid-row-gap-8 p-5">
        <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="acrobatics">
          <label class="skill-check rollable" for="system.skills.acrobatics.value"
            title="{{localize 'DCC.ThiefSkillHint'}}" data-action="rollSkillCheck" data-drag="true"
            data-drag-action="skill">
            {{localize "XCC.Acrobatics"}}
          </label>
          <input type="text" id="system.skills.acrobatics.value" name="system.skills.acrobatics.value"
            value="{{system.skills.acrobatics.value}}" data-dtype="String" />
        </div>
        <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="poleVault">
          <label class="skill-check rollable" for="system.skills.poleVault.value"
            title="{{localize 'DCC.ThiefSkillHint'}}" data-action="rollSkillCheck" data-drag="true"
            data-drag-action="skill">
            {{localize "DCC.system.skills.poleVault.value"}}
          </label>
          <input type="text" id="system.skills.poleVault.value" name="system.skills.poleVault.value"
            value="{{system.skills.poleVault.value}}" data-dtype="String" />
        </div>
        <div class="grid-tpl-max-auto grid-col-gap-5">
          <label class="skill-check" for="system.class.backstab" title="{{localize 'DCC.ThiefBackstabSkillHint'}}">
            {{localize "DCC.Backstab"}}
          </label>
          <input type="text" id="system.class.backstab" name="system.class.backstab" value="{{system.class.backstab}}"
            data-dtype="String" />
        </div>
        <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="tightropeWalk">
          <label class="skill-check rollable" for="system.skills.tightropeWalk.value"
            title="{{localize 'DCC.ThiefSkillHint'}}" data-action="rollSkillCheck" data-drag="true"
            data-drag-action="skill">
            {{localize "DCC.system.skills.tightropeWalk.value"}}
          </label>
          <input type="text" id="system.skills.tightropeWalk.value" name="system.skills.tightropeWalk.value"
            value="{{system.skills.tightropeWalk.value}}" data-dtype="String" />
        </div>
        <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="sneakSilently">
          <label class="skill-check rollable" for="system.skills.sneakSilently.value"
            title="{{localize 'DCC.ThiefSkillHint'}}" data-action="rollSkillCheck" data-drag="true"
            data-drag-action="skill">
            {{localize "DCC.SneakSilently"}}
          </label>
          <input type="text" id="system.skills.sneakSilently.value" name="system.skills.sneakSilently.value"
            value="{{system.skills.sneakSilently.value}}" data-dtype="String" />
        </div>
        <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="leap">
          <label class="skill-check rollable" for="system.skills.leap.value" title="{{localize 'DCC.ThiefSkillHint'}}"
            data-action="rollSkillCheck" data-drag="true" data-drag-action="skill">
            {{localize "DCC.system.skills.leap.value"}}
          </label>
          <input type="text" id="system.skills.leap.value" name="system.skills.leap.value"
            value="{{system.skills.leap.value}}" data-dtype="String" />
        </div>
        <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="hideInShadows">
          <label class="skill-check rollable" for="system.skills.hideInShadows.value"
            title="{{localize 'DCC.ThiefSkillHint'}}" data-action="rollSkillCheck" data-drag="true"
            data-drag-action="skill">
            {{localize "DCC.HideInShadows"}}
          </label>
          <input type="text" id="system.skills.hideInShadows.value" name="system.skills.hideInShadows.value"
            value="{{system.skills.hideInShadows.value}}" data-dtype="String" />
        </div>
        <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="findTrap">
          <label class="skill-check rollable" for="system.skills.findTrap.value"
            title="{{localize 'DCC.ThiefSkillHint'}}" data-action="rollSkillCheck" data-drag="true"
            data-drag-action="skill">
            {{localize "DCC.FindTrap"}}
          </label>
          <input type="text" id="system.skills.findTrap.value" name="system.skills.findTrap.value"
            value="{{system.skills.findTrap.value}}" data-dtype="String" />
        </div>
        <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="climbSheerSurfaces">
          <label class="skill-check rollable" for="system.skills.climbSheerSurfaces.value"
            title="{{localize 'DCC.ThiefSkillHint'}}" data-action="rollSkillCheck" data-drag="true"
            data-drag-action="skill">
            {{localize "DCC.ClimbSheerSurfaces"}}
          </label>
          <input type="text" id="system.skills.climbSheerSurfaces.value" name="system.skills.climbSheerSurfaces.value"
            value="{{system.skills.climbSheerSurfaces.value}}" data-dtype="String" />
        </div>
        <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="disableTrap">
          <label class="skill-check rollable" for="system.skills.disableTrap.value"
            title="{{localize 'DCC.ThiefSkillHint'}}" data-action="rollSkillCheck" data-drag="true"
            data-drag-action="skill">
            {{localize "DCC.DisableTrap"}}
          </label>
          <input type="text" id="system.skills.disableTrap.value" name="system.skills.disableTrap.value"
            value="{{system.skills.disableTrap.value}}" data-dtype="String" />
        </div>
        <div class="grid-tpl-max-auto grid-col-gap-5" data-skill="pickLock">
          <label class="skill-check rollable" for="system.skills.pickLock.value"
            title="{{localize 'DCC.ThiefSkillHint'}}" data-action="rollSkillCheck" data-drag="true"
            data-drag-action="skill">
            {{localize "DCC.PickLock"}}
          </label>
          <input type="text" id="system.skills.pickLock.value" name="system.skills.pickLock.value"
            value="{{system.skills.pickLock.value}}" data-dtype="String" />
        </div>
      </div>
    </div>
  </div>
  {{> modules/xcc-system/templates/actor-partial-common.html }}
</section>