<section class="xcc tab brawler {{tabs.brawler.cssClass}}" data-tab="{{tabs.brawler.id}}"
    data-group="{{tabs.brawler.group}}">
    <input type="hidden" id="system.details.sheetClass" name="system.details.sheetClass" value="Brawler"
        data-dtype="String" />
    <input type="hidden" id="system.details.critRange" name="system.details.critRange" value="20" data-dtype="Number" />
    <input type="hidden" id="system.class.spellCheckAbility" name="system.class.spellCheckAbility" value="per">
    <div class="grid-container">
        <div class="grid-col-span-12 dark-border reminder-block">
            <div class="box-title">{{localize "XCC.ClassProperties"}}{{#dccPackExists
                "dcc-core-book.dcc-core-journals"}}<div class="link-floater">{{{system.class.classLink}}}</div>
                {{/dccPackExists}}</div>
            <div class="grid-tpl-two grid-row-gap-8 p-5">
                <div class="grid-tpl-max-25" data-skill="attackBonus">
                    <label>{{localize "DCC.DeedDie"}}</label>
                    <input type="text" value="{{system.details.attackBonus}}" data-dtype="String" disabled="" />
                </div>

                <div class="grid-tpl-max-25" data-skill="scramble">
                    <label>{{localize "XCC.Brawler.UnarmedDamage"}}</label>
                    <input type="text" id="system.class.unarmedDamage" name="system.class.unarmedDamage"
                        value="{{system.class.unarmedDamage}}" data-dtype="String" />
                </div>

                <div class="grid-tpl-max-25" data-skill="attackBonus">
                    <label>{{localize "XCC.Brawler.Toughness"}}</label>
                    <input type="text" id="system.class.toughness" name="system.class.toughness"
                        value="{{positiveOrZero system.saves.frt.value}}" disabled='' data-dtype="String" />
                </div>

                <div>
                    <a class="external-link" href="https://github.com/foundryvtt-dcc/dcc/wiki/Mighty-Deeds">
                        <i class="fas fa-link"></i> {{localize "DCC.MightyDeedsHowToLink"}}
                    </a>
                    {{#dccPackExists "dcc-core-book.dcc-core-journals"}}
                    <div style="display: inline-block;">{{{system.class.mightyDeedsLink}}}</div>
                    {{/dccPackExists}}
                </div>
            </div>
        </div>
        <div class="grid-col-span-12 dark-border">
            <div class="row-separator"></div>
            <div class="box-title">{{localize "XCC.Brawler.UnarmedAttacks"}}</div>
            <ol class="weapon-list brawler box-border" style="margin-bottom: 0;">
                <li class="grid-col-span-7 weapon-list-header">
                    <div></div>
                    <div title="{{localize 'DCC.Roll'}}"></div>
                    <div>{{localize "XCC.Brawler.UnarmedType"}}</div>
                    <div>{{localize "DCC.Die"}}</div>
                    <div>{{localize "DCC.ToHit"}}</div>
                    <div>{{localize "DCC.Damage"}}</div>
                    <div>{{localize "DCC.Notes"}}</div>
                </li>
                <li class="grid-col-span-7 weapon grid-col-gap-5" data-item-id="xcc.brawler.unarmedRegular">
                    <img class="icon-filter" src="modules/xcc-system/styles/images/game-icons-net/rock.svg"
                        title="{{localize 'XCC.Brawler.UnarmedRegular'}}"
                        alt="{{localize 'XCC.Brawler.UnarmedRegular'}}" width="22" height="22">
                    <div class="attack-buttons">
                        <div class="rollable two-attack-button icon-filter" data-action="rollUnarmedAttack"
                            data-drag="false" title="Roll" draggable="false">&nbsp;</div>
                    </div>
                    <input class="weapon-name" type="text" value="{{localize 'XCC.Brawler.UnarmedRegular'}}"
                        readonly="">
                    <input class="disabled" type="text" value="d16" readonly="">
                    <input class="disabled" type="text" value="{{getBrawlerToHit actor}}" readonly="">
                    <input class="weapon-damage disabled" style="width: auto;" type="text"
                        value="{{getBrawlerDamage actor}}" readonly="">
                    <input class="weapon-notes disabled" type="text"
                        value="{{localize 'XCC.Brawler.UnarmedRegularNote'}}" readonly="">
                </li>
                <li class="grid-col-span-7 weapon grid-col-gap-5" data-item-id="xcc.brawler.unarmedFree">
                    <img class="icon-filter" src="modules/xcc-system/styles/images/game-icons-net/rock.svg"
                        title="{{localize 'XCC.Brawler.UnarmedFree'}}" alt="{{localize 'XCC.Brawler.UnarmedFree'}}"
                        width="22" height="22">
                    <div class="attack-buttons">
                        <div class="rollable free-attack-button icon-filter" data-action="rollUnarmedAttack"
                            data-drag="false" title="Roll" draggable="false">&nbsp;</div>
                    </div>
                    <input class="weapon-name" type="text" name="xcc.brawler.offhand.name"
                        value="{{localize 'XCC.Brawler.UnarmedFree'}}" readonly="">
                    <input class="disabled" type="text" value="d14" readonly="">
                    <input class="disabled" type="text" value="{{getBrawlerToHit actor}}" readonly="">
                    <input class="weapon-damage disabled" style="width: auto;" type="text"
                        value="{{getBrawlerDamage actor}}" readonly="">
                    <input class="weapon-notes disabled" type="text" value="{{localize 'XCC.Brawler.UnarmedFreeNote'}}"
                        readonly="">
                </li>
            </ol>
        </div>
    </div>
    {{> modules/xcc-system/templates/actor-partial-common.html }}
</section>