{{!-- Class Tab --}}
<section class="xcc tab blaster-bg {{tabs.blaster.id}} {{tabs.blaster.cssClass}}" data-tab="{{tabs.blaster.id}}"
  data-group="{{tabs.blaster.group}}" id="blaster">
  <div class="grid-container">
    <div class="grid-col-span-12 box-border reminder-block">
      <div class="box-title">{{localize "XCC.ClassProperties"}}{{#dccPackExists
        "xcc-core-book.xcc-core-text"}}<div class="link-floater">{{{system.class.classLink}}}</div>
        {{/dccPackExists}}</div>
      <div class="grid-tpl-two grid-row-gap-8 p-5">
        <div class="grid-tpl-max-25 grid-col-gap-5">
          <label class="skill-check" for="system.class.maxSpellLevel">
            {{localize "DCC.system.class.maxSpellLevel"}}
          </label>
          <input type="text" id="system.class.maxSpellLevel" name="system.class.maxSpellLevel"
            value="{{system.class.maxSpellLevel}}" data-dtype="String" />
        </div>
        <div class="grid-tpl-max-25 grid-col-gap-5">
          <label class="skill-check" for="system.class.knownSpells">
            {{localize "DCC.system.class.knownSpells"}}
          </label>
          <input type="text" id="system.class.knownSpells" name="system.class.knownSpells"
            value="{{system.class.knownSpells}}" data-dtype="String" />
        </div>
        <div class="grid-tpl-max-25 grid-col-gap-5">
          <label class="skill-check rollable" for="system.class.blasterDie">
            {{localize "DCC.system.class.blasterDie"}}
          </label>
          <input type="text" id="system.class.blasterDie" name="system.class.blasterDie"
            value="{{system.class.blasterDie}}" data-dtype="String" />
        </div>
      </div>
    </div>
  </div>
  {{> modules/xcc/templates/actor-partial-common.html }}
</section>